<body>
	<h1>Welcome to [W]e-dopt</h1>
	<p>Healthy Parents, Healthy Family, Healthy Kids, Healthy Future</p>
	<p>Welcome Video</p>
	<div id="content"></div>
	<%= react_component("CommentBox") %>
</body>